.container {
    margin: 25vh 25vw;
    padding: 40px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    justify-content: space-evenly;
    align-items: center;
}

.formItem {
    border-width: 0;
    border-radius: 2px;
    margin: 10px;
    width: 230px;
    height: 35px;
    box-shadow: 3px 3px 5px #e7e7e7;
}

.input {
    padding-left: 10px;
    width: 220px;
}

.input::placeholder {
    color: #b2b2b2;
}

.loginButton {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #8e73b9;
    padding-left: 5px;
    padding-right: 5px;
}

.errorText {
    margin: 0;
    color: red;
    font-size: 13px;
}

.header {
    color: #67c2c7;
}

.loader {
    border: 2px solid white; /* Light grey */
    border-top: 2px solid #7743cb; /* Blue */
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}