.navbar {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  max-width: 100vw;
  background: white;
  box-shadow: 0 1px 5px #9896a1;
}

.link {
  padding: 0.7rem 1rem;
}

.image {
  max-height: 40px;
  margin-right: 0.25rem;
}

.user {
  color: #67c2c7;
  padding: 0.7rem 1rem;
}

.logOut {
  background: none !important;
  border: none;
  font-size: 16px;
  color: #67c2c7;
  padding: 0.7rem 1rem;
  cursor: pointer;
}

.loggedInContainer {
  display: flex;
}
