.box {
  border-radius: 3px;
  width: 400px;
  padding: 5px 10px 20px 10px;
  background-color: #f3eff8;
}

.message {
  border-bottom: 1px solid #dcd6e7;
  padding-bottom: 15px;
  padding-left: 10px;
}

.refreshButton {
  margin-left: 10px;
  background-color: white;
}
