.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
}

.link {
    padding: 0.7rem 1rem;
}

.image {
    max-height: 40px;
    margin-right: 0.25rem;
}

.user {
    color: #67c2c7;
    padding: 0.7rem 1rem;
}

.logOut {
    background: none!important;
    border: none;
    font-size: 16px;
    color: #67c2c7;
    padding: 0.7rem 1rem;
    cursor: pointer;
}


.loggedInContainer {
    display: flex;
}