.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
}

.link {
    padding: 0.7rem 1rem;
}

.image {
    max-height: 40px;
    margin-right: 0.25rem;
}